* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    place-items: center;
    height: 100vh;
    color: white;
}
#main-container{
    display: grid;

    height: 100%;
    width: 100%;
    grid-template-columns: 0.8fr 2.8fr 1.2fr;
    grid-template-rows: 0.75fr 3fr
}
.imcontainer{
    height: 35px;
    width: 35px;
    overflow: hidden;
}
.imgicon{
    width: 100%;
    height: auto;
    border-radius: 100%;
}
.sideboard ,.header ,.projects ,.side-container{
    border: 3px dotted black ;

}
.sideboard > h1 ,.top-ul, .bot-ul{
    border: 2px dotted red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    list-style: none; 
}
.sideboard > ul{
    font-size: 2vh; 
}
.sideboard{
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template: 1fr 3fr 3fr / 1fr ;
    background:rgb(17, 19, 18);
}
.side-container > h1{
    grid-area: 2/1/3/2;
}
.top-ul{
    grid-area: 2/1/3/2;
    display: flex;
    align-items: flex-start;
    margin-left: 25px;
}
.top-ul > li , .bot-ul > li{
    display: flex;
    flex-direction: row;
    border: 1px solid salmon;
    border-radius: 25px;
}
.top-ul > li > p , .bot-ul > li > p{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 15px;
} 
.bot-ul{
    grid-area: 3/1/4/2;
    display: flex;
    align-items: flex-start;
    margin-left: 25px
}
.header{
    grid-area: 1/2/2/4;
    display: grid;
    grid-template-columns: 4fr 0.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    background:rgb(1, 2, 6);
}
.headerDivs{
    border: 2px dotted blue;
}
#bellImg{
    width: 50px;
    height: 50px;
    overflow: hidden;
}
#notification{
 display: flex;
 align-items: center;
 justify-content: center;
}
#bell{
    width: 100%;
    height: auto;
    border-radius: 100%;
}
#search{
    grid-area: 1/1/2/2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1vw;
}
#buttonsDiv{
    grid-area: 2/2/3/4;
}
.projectsDiv{
    grid-area: 2/2/3/3;
    display: grid;
    grid-template: 1fr 1fr /1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    background: lightcyan;
}
.project{
    border: 2px dotted blueviolet;
    height: 28vh;
    width: 22vw;
    justify-self: center;
}
.side-container{
    grid-area: auto;
    display: grid;
    grid-row: 1fr 1fr;
    background:rgb(2, 7, 19)}

.side-container > div{
    border: 2px dotted green;
}

#anouncementsDiv{
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
}
.anouncements{
    height: 5vh;
    width: 20vw;
    border: 3px dotted darkred;
}
#trendingDiv{
    grid-area: 2/1/3/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
}
.trending{
    height: 5vh;
    width: 20vw;
    border: 3px dotted darkorange;
}

#buttonsDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}
.headerButton {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
.headerButton:hover {
    background-color: #007bb5; /* Darker blue */
}

.headerButton:active {
    background-color: #005f6b;
    box-shadow: 0 5px #666;
    transform: translateY(4px) translateX(4px);
}
input {
    padding: 10px; 
    margin: 8px 0; 
    box-sizing: border-box; 
    height: calc(50%);
    width :calc(80%);
    border: 2px solid #ccc; 
    border-radius: 20px; 
}
